<h1>New Tasks Page</h1>
<%= form_with model: @task do |form| %>
    <%= form.label :title, "Note Title" %>
    <%= form.text_field :title %>
    <%= form.label :details, "Note Description" %>
    <%= form.text_field :details %>
    <%= form.submit "Create" %>
<% end %>
<a href="/tasks">Back to list</a>
